body {
  background-color: black;
  margin: none;
  height: 100vh;
  max-height: 100vh;
  margin: none;
}
h1 {
  opacity: 0;
  font-size: 100px;
  color: white;
  overflow: hidden;
}
.notsure {
  left: 0vw;
  position: fixed;
  margin: 0;
}
@media only screen and (min-width: 1001px) {
  .notsure {
    animation: notsure1 9s 1;
  }
}
@media only screen and (max-width: 1000px) {
  .notsure {
    animation: notsure2 9s 1;
  }
}
@media only screen and (max-width: 800px) {
  .notsure {
    animation: notsure3 9s 1;
    text-align: center;
    margin: 0;
    left: calc(50vw - 193px);
  }
}
@media only screen and (max-width: 450px) {
  .notsure {
    animation: notsure3 9s 1;
    text-align: center;
    margin: 0;
    left: calc(50vw - 154px);
    font-size: 80px;
  }
}
.ru {
  text-align: center;
  margin: 0;
  padding-top: 20vh;
  animation: ru 16s 1;
}
img {
  opacity: 0;
  position: absolute;
  width: 100px;
  animation: think 4s infinite;
}
@keyframes notsure1 {
  0% {

  }
  20% {
    top: 40vh;
    left: 20vw;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    top: 20vh;
    left: 50vw;
    opacity: 0;
  }
  100%{

  }
}
@keyframes notsure2 {
  0% {

  }
  20% {
    top: 40vh;
    left: 20vw;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    top: 20vh;
    left: 40vw;
    opacity: 0;
  }
  100%{

  }
}
@keyframes notsure3 {
  0% {

  }
  20% {
    top: 30vh;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    top: 20vh;
    opacity: 0;
  }
  100%{

  }
}
@keyframes ru {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes think {
  0% {
    opacity: 0;
  }   
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}